In [5]:
tupla = (4,5,6)
tupla[0]

In [3]:
tupla_tupla = (1,2,3),(4,5,6)
tupla_tupla

((1, 2, 3), (4, 5, 6))

In [4]:
tupla_tupla[1][2]

6

In [25]:
tupla = tuple('string')
tupla

('s', 't', 'r', 'i', 'n', 'g')

In [26]:
tupla = tuple('string')
tupla[0]
tupla[3]

'i'

In [16]:
tupla = tuple(['foo',[1,2], True])
tupla

('foo', [1, 2], True)

In [35]:
tupla[1].append(3)
tupla

('foo', [1, 2, 3], True)

In [22]:
lista = list(tupla)
lista.insert(0,'hoje')
nova_tupla = tuple(lista)
nova_tupla

('foo', [1, 2, 3], True)

In [31]:
tupla = tuple (['foo',[1,2], True])
lista = list(tupla)
posicao_insercao = lista.index('foo')+1
lista.insert(posicao_insercao, 'hoje')
nova_tupla= tuple(lista)
nova_tupla

('foo', 'hoje', [1, 2], True)

In [39]:
(4,None,'foo')+(6,0)+('bar',1)
('foo','bar')*4
(4,8,12)+(3,6,9)

(4, None, 'foo', 6, 0, 'bar', 1)

In [47]:
tupla = (4,5,6)
a,b,c = tupla
a
tupla = 4,5,(6,7)
a,b,(c,d) = tupla
c

6

In [48]:
seq = [(1,2,3), (4,5,6),(7,8,9)]
for a,b,c in seq:
    print('a={0}, b={1}, c={2}'.format(a,b,c))

a=1, b=2, c=3
a=4, b=5, c=6
a=7, b=8, c=9

In [49]:
a = (1,2,2,2,3,4,2)
a.count(2)

4

In [52]:
gen = range(20)
list(gen)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [57]:
b_list = ['agua','fogo','terra']
b_list.append('ar')
b_list
b_list.insert(1,'eter')
b_list
b_list.remove('fogo')
b_list

['agua', 'eter', 'terra', 'ar']